body{
    background-color: #18A0AC;
    font-family: arial;
    font-size: 15px;
}
.contenido{
    background-color: aliceblue;
    margin: 200px auto 50px;
    width: 400px;
    height: 400px;
    box-shadow: 3px;
    border-radius: 15px;

}
.fondo{
    background-color:#3FCCD5;
    margin:0;
    padding-top: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.imagen .ima{
    border-radius: 50%;
    position: relative;
    left: 38%;
    bottom: 50px;
    border: 3px solid white;
    align-items: center;
}
.user{
    position: relative;
    bottom: 50px; 
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
}
.user #nombre{
    font-family: Arial Black;
    font-size: 15px;
}
.user #nombre .edad{
    
    font-size: 13px;
    font-family: Arial;
}
.user #ciudad{
    margin-top: 0;
    font-family: arial;
    font-size: medium;
    color: #9a9a9a;
}
.datos{
    position: relative;
    bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.informacion .numero{
    font-size: 22px;
}
#ochenta{
    margin-left: 9px;
}
#megusta{
    margin-left: 5px;
}
.tipo{
    font-size: 13px;
}
.contenedor{
    display: flex;
    flex-direction: column;
}